In [4]:
# importamos las librerías que necesitamos
# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np
# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer
# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
# Configuración
# -----------------------------------------------------------------------
pd.set_option("display.max_columns", None) # para poder visualizar todas las columnas de los DataFrames

In [5]:
df = pd.read_csv("documentos/world_data_full_apply.csv", index_col=0)

In [6]:
df.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,continent
0,Afghanistan,60.0,AF,58.1,652.230,323.0,32.49,93.0,Kabul,8.672,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,NaN,48.9,9.3,71.4,11.12,NaN,33.939110,67.709953,Asia
1,Albania,105.0,AL,43.1,28.748,9.0,11.78,355.0,Tirana,4.536,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,NaN,55.7,18.6,36.6,12.33,NaN,41.153332,20.168331,Europe
2,Algeria,18.0,DZ,17.4,NaN,317.0,24.28,213.0,Algiers,150.006,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,NaN,41.2,37.2,66.1,11.70,NaN,28.033886,1.659626,Africa
3,Andorra,164.0,AD,40.0,468.000,NaN,7.20,376.0,Andorra la Vella,469.000,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77.142,NaN,NaN,NaN,NaN,67.873,42.506285,1.521801,Europe
4,Angola,26.0,AO,47.5,NaN,117.0,40.73,244.0,Luanda,34.693,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,NaN,77.5,9.2,49.1,6.89,NaN,-11.202692,17.873887,Africa


1. Identificación de Valores Nulos: Identifica todas las columnas que contengan valores nulos en el DataFrame.

2. Selección de Método de Imputación: Discute en tu compañera cuál sería la mejor estrategia para manejar los valores nulos en cada una de las columnas identificadas en el paso anterior.

3. Imputación de Valores Nulos: Implementa el método de imputación seleccionado en el paso 2 para llenar los valores nulos en las columnas.

4. Informe: Añade al final de un jupyter una explicación breve que describa las columnas que tenían valores nulos, cómo decidiste imputarlos y cualquier observación adicional que consideres importante sobre el proceso de limpieza de datos.

In [15]:
porc_nulos = (df.isnull().sum() / df.shape[0]) * 100
porc_nulos

country                                  0.000000
density                                  0.000000
abbreviation                             3.589744
agricultural_land                        3.589744
land_area                               15.384615
armed_forces_size                       14.871795
birth_rate                               3.076923
calling_code                             0.512821
capital/major_city                       1.538462
co2-emissions                            6.153846
cpi                                     10.256410
cpi_change                               8.205128
currency-code                            7.692308
fertility_rate                           3.589744
forested_area                            3.589744
gasoline_price                          10.256410
gdp                                      1.025641
gross_primary_education_enrollment       3.589744
gross_tertiary_education_enrollment      6.153846
infant_mortality                         3.076923
largest_city                             3.076923
life_expectancy                          4.102564
maternal_mortality_ratio                 7.179487
minimum_wage                            23.076923
official_language                        2.564103
out_of_pocket_health_expenditure         3.589744
physicians_per_thousand                  3.589744
population                              80.000000
population_labor_force_participation     9.743590
tax_revenue                             13.333333
total_tax_rate                           6.153846
unemployment_rate                        9.743590
urban_population                        76.923077
latitude                                 0.512821
longitude                                0.512821
continent                                0.512821
dtype: float64

In [21]:
# lo convertimos a DataFrame
df_nulos = pd.DataFrame(porc_nulos, columns = ["%_nulos"])

# filtramos el DataFrame para quedarnos solo con aquellas columnas que tengan nulos
df_nulos[df_nulos["%_nulos"] > 0].sort_values(by="%_nulos", ascending=True)

                                        %_nulos
continent                              0.512821
latitude                               0.512821
calling_code                           0.512821
longitude                              0.512821
gdp                                    1.025641
capital/major_city                     1.538462
official_language                      2.564103
birth_rate                             3.076923
largest_city                           3.076923
infant_mortality                       3.076923
physicians_per_thousand                3.589744
out_of_pocket_health_expenditure       3.589744
gross_primary_education_enrollment     3.589744
abbreviation                           3.589744
forested_area                          3.589744
fertility_rate                         3.589744
agricultural_land                      3.589744
life_expectancy                        4.102564
total_tax_rate                         6.153846
co2-emissions                          6.153846
gross_tertiary_education_enrollment    6.153846
maternal_mortality_ratio               7.179487
currency-code                          7.692308
cpi_change                             8.205128
population_labor_force_participation   9.743590
unemployment_rate                      9.743590
cpi                                   10.256410
gasoline_price                        10.256410
tax_revenue                           13.333333
armed_forces_size                     14.871795
land_area                             15.384615
minimum_wage                          23.076923
urban_population                      76.923077
population                            80.000000

In [22]:
nulos_cat = df[df.columns[df.isnull().any()]].select_dtypes(include = "O").columns
print(f'las columnas categóricas que tienen nulos son:\n {nulos_cat}\n')

las columnas categóricas que tienen nulos son:
 Index(['abbreviation', 'capital/major_city', 'currency-code', 'largest_city',
       'official_language', 'continent'],
      dtype='object')

In [23]:
for col in nulos_cat:
    print(f'la distribución de las categorías por columna {col.upper()} es:')
    display(df[col].value_counts() / df.shape[0])
    print('----------')

la distribución de las categorías por columna ABBREVIATION es:

abbreviation
AF    0.005128
PY    0.005128
NE    0.005128
NG    0.005128
KP    0.005128
        ...
GR    0.005128
GD    0.005128
GT    0.005128
GN    0.005128
ZW    0.005128
Name: count, Length: 188, dtype: float64

----------
la distribución de las categorías por columna CAPITAL/MAJOR_CITY es:

capital/major_city
Kabul                    0.005128
Tirana                   0.005128
Wellington               0.005128
Managua                  0.005128
Niamey                   0.005128
                           ...
Athens                   0.005128
St. George's, Grenada    0.005128
Guatemala City           0.005128
Conakry                  0.005128
Harare                   0.005128
Name: count, Length: 192, dtype: float64

----------
la distribución de las categorías por columna CURRENCY-CODE es:

currency-code
EUR    0.117949
XOF    0.041026
XCD    0.030769
USD    0.030769
XAF    0.025641
         ...
GMD    0.005128
FJD    0.005128
ETB    0.005128
ERN    0.005128
ZMW    0.005128
Name: count, Length: 133, dtype: float64

----------
la distribución de las categorías por columna LARGEST_CITY es:

largest_city
S����                    0.010256
Panama City              0.005128
Managua                  0.005128
Niamey                   0.005128
Lagos                    0.005128
                           ...
Macedonia                0.005128
St. George's, Grenada    0.005128
Guatemala City           0.005128
Kankan                   0.005128
Harare                   0.005128
Name: count, Length: 188, dtype: float64

----------
la distribución de las categorías por columna OFFICIAL_LANGUAGE es:

official_language
English             0.158974
French              0.128205
Spanish             0.097436
Arabic              0.092308
Portuguese          0.035897
                      ...
Albanian            0.005128
Jamaican English    0.005128
Lao                 0.005128
Latvian             0.005128
Shona               0.005128
Name: count, Length: 76, dtype: float64

----------
la distribución de las categorías por columna CONTINENT es:

continent
Africa             0.271795
Europe             0.241026
Asia               0.230769
Central America    0.102564
Oceania            0.071795
South America      0.066667
North America      0.010256
Name: count, dtype: float64

----------

In [ ]:
columnas_moda = ["", ""]
columnas_desconocido = ['abbreviation', 'capital/major_city']

In [13]:
col_desconocidos = ['abbreviation', 'capital/major_city', 'currency-code', 'largest_city','official_language', 'continent']